name: Build and Deploy with nerdctl

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: self-hosted

    steps:
    - name: Checkout app repo
      uses: actions/checkout@v4

    - name: Log in to GHCR
      run: echo "${{ secrets.CR_PAT }}" | nerdctl login ghcr.io -u ${{ github.actor }} --password-stdin

    - name: Set image tag
      id: vars
      run: echo "TAG=main-${GITHUB_SHA::7}" >> $GITHUB_OUTPUT

    - name: Build image with nerdctl
      run: |
        nerdctl build -t ghcr.io/${{ github.repository_owner }}/dj-cloudapp:${{ steps.vars.outputs.TAG }} ./app

    - name: Push image with nerdctl
      run: |
        nerdctl push ghcr.io/${{ github.repository_owner }}/dj-cloudapp:${{ steps.vars.outputs.TAG }}

    - name: Clone GitOps repo
      run: |
        git clone https://${{ secrets.CR_PAT }}@github.com/maverickkeypuncher/cloudapp.git gitops 
        #"${{ secrets.GITOPS_REPO }}" gitops

    - name: Update image tag in manifests
      run: |
        cd gitops
        sed -i 's#image: ghcr.io.*/dj-cloudapp:.*#image: ghcr.io/'"${{ github.repository_owner }}"'/dj-cloudapp:'"${{ steps.vars.outputs.TAG }}"'#' cloudapp-manifests/k8s/app-deployment.yaml
        git config user.name "${{ secrets.GIT_USER_NAME }}"
        git config user.email "${{ secrets.GIT_USER_EMAIL }}"
        git commit -am "Update image tag to ${{ steps.vars.outputs.TAG }}" || echo "No changes"
        git push
